<div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2" style="margin-top: 10px">
    
    <div class="panel-body">
        <a class="btn btn-danger col-lg-offset-11" href="#/registro">Novo</a>
    </div>
    
    <div class="panel panel-danger">
        
        <div class="panel-heading">
            <h3 class="panel-title">Lista de Usuários</h3>
        </div>
        
        <div class="panel-body">
            
            <div class="table-responsive">
                
                <table class="table table-bordered table-hover">
                    
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Telefones</th>
                            <th>Endereço</th>
                            <th>Complemento</th>
                            <th>Cidade</th>
                            <th>CEP</th>
                            <th>Email</th>
                        </tr>
                    </thead>    
                    
                    <tbody style="font-size: 12px">
                        
                        <tr ng-repeat="usuario in usuarios">
                            <td ng-bind="usuario.id">{{usuario.id}}</td>
                            <td ng-bind="usuario.nome"></td>
                            <td>
                                <span ng-bind="usuario.telefone"></span><br/>
                                <span ng-bind="usuario.celular"></span>
                            </td>
                            <td>
                                <span ng-bind="usuario.logradouro"></span> - <span ng-bind="usuario.numero"></span>
                            </td>
                            <td ng-bind="usuario.complemento"></td>
                            <td ng-bind="usuario.cidade"></td>
                            <td ng-bind="usuario.cep"></td>
                            <td ng-bind="usuario.email"></td>
                        </tr>
                        
                    </tbody>
                    
                </table>
                
            </div>
            
        </div>
            
    </div>
        
</div>
    
