<div class="panel-heading block">

    <a href="/">
        <img border="0" alt="ThunderPizza" src="imgs/TPsemfundo.png" width="400" height="400" style="margin-left:35%" >
    </a>

</div>

<div class='col-lg-4 col-lg-offset-4'>

    <div class='panel'>
        <div class='panel-heading' style="background-color: #d9534f !important">
            <h3 class='panel-title' style="color: #ffffff; font-weight: bold">
                Login
            </h3>
        </div>
        <div class='panel-body'>
            <form>
               <div class='form-group'>
                   <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                       <input class="form-control" placeholder="E-mail" ng-model="models.usuario">
                   </div>
                </div>
                <div class='form-group'>
                    <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" placeholder="Senha" ng-model="models.senha">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-danger btn-block" type="submit" ng-click="submit()">Entrar</button>
                </div>
            </form>
        </div>
    </div>

</div>



